.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 90vw;
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.graphContainer {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.1);
    height: max-content;
    width: 216px;
    left: -108px;
    top: -137px;
    border-radius: 2px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.graphHeader {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    align-items: center;
}

span {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;

}

.buttonContainer :hover {
    background-color: #F0F0F0;
}

.buttonContainer {
    cursor: pointer;
}